<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>マテリアルアイテムピッカー</title>
  </head>
  <body>
    <div th:fragment="materialPicker">
      <ul>
        <th:block th:each="inventoryItem : ${items}">
          <li class="flex justify-between">
            <button type="button" th:text="${inventoryItem.item.name}"></button>
            <span th:text="${inventoryItem.quantity}"></span>
          </li>
        </th:block>
      </ul>
    </div>
  </body>
</html>
