@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");

@import "tailwindcss";

@layer base {
  * {
    font-family: "Kaisei Decol", sans-serif;
    color: #3a3030;
  }

  button:hover {
    cursor: pointer;
  }
}

@theme {
  --spacing-icon-sm: 40px;
  --spacing-icon-md: 72px;
  --spacing-icon-lg: 104px;
}
